.deliveryTruck {
    text-align: center;
}

.beerContainer {
    background-color: darkgray;
    text-align: center;
    width: 20vw;
    border: 2px solid black;
}

.beer {
    background-color: peru;
    border: 1px solid #9b6d01;
    margin: 0.5vw;
}

button {
    text-align: center;
    border: none;
    border: 1px solid black;
    cursor: pointer;
    background-color: chocolate;
    align-self: center;
    margin: 0.5vw;
}

.btnAddBeer {
    padding: 0.5vw 0.5vw;
}

.btnAddContainer {
    padding: 1vw 1vw;
    margin: 1vw;
}

.select-beer {
    max-width: 200px;
    margin-left: 5vw;
}

.addBeerForm {
    position: absolute;
    width: 500px;
    width: 300px;
    top: 50%;
    left: 40%;
    border: 5px solid #9b6d01;
    margin: 10px;
    text-align: center;
    background-color: darkgoldenrod;
}